# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives: **

* SQL
* Python
* R Language
* Scala

Some of the popular languages that Data Scientists use are:
    
    1. R Language
    2. SQL
    3. Python
    4. Scala

Some of the commonly used libraries used by Data Scientists include:

* Tensorflow
* Scikit-Learn
* Pytorch
* Pandas
* NumPy

|Data Science Tools|
|------------------|
|RStudio           |
|Jupyter Notebook  |
|Apache Zeppelin   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
# Convert 200 minutes into hours
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

##Author

Akor Simon